@{
    ViewData["Title"] = "Uuu đãi";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<link rel="stylesheet" href="styles.css">
<title>Ưu Đãi Galaxy Cinema</title>
<body>
    <div class="container overflow-hidden text-center">
        <div class="row ">
            <div class="col-6">
                <div class="p-3">
                    <img src="placeholder-image.png" alt="Ưu đãi 1" class="offer-image">
                </div>
            </div>
            <div class="col-6">
                <div class="p-3"> <img src="placeholder-image.png" alt="Ưu đãi 2" class="offer-image"></div>
            </div>
            <div class="col-6">
                <div class="p-3"><img src="placeholder-image.png" alt="Ưu đãi 3" class="offer-image"></div>
            </div>
            <div class="col-6">
                <div class="p-3"><img src="placeholder-image.png" alt="Ưu đãi 4" class="offer-image"></div>
            </div>
        </div>
    </div>
</body>
