
@model WebCinema.Models.Showtime
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add ShowTime";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Showtime</title>
    <link rel="shortcut icon" type="image/png" href="~/Admin/images/logos/Logo.png" />
    <link rel="stylesheet" href="~/Admin/css/styles.min.css" />
</head>

<body>

    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        
        <!--  Movies  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 d-flex align-items-strech">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                <div class="mb-3 mb-sm-0">
                                    <h5 class="card-title fw-semibold">Add a Showtime</h5>
                                    <form asp-action="AddShowtime" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label asp-for="MovieId">Movie Name</label>
                                            <select asp-for="MovieId" asp-items="ViewBag.Movies"
                                                        class="form-control"></select>
                                            @Html.ValidationMessageFor(m => m.Movie, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RoomId">Room Name</label>
@*                                             <input type="hidden" asp-for="RoomId" />
 *@                                            <select asp-for="RoomId" asp-items="ViewBag.Rooms"
                                                    class="form-control"></select>
                                            @Html.ValidationMessageFor(m => m.Room, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ShowtimeDate"></label>
                                            <input type="date" asp-for="ShowtimeDate" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ScreenTimeId">Screen Time</label>
                                            <select asp-for="ScreenTimeId" asp-items="ViewBag.Screentimes"
                                                    class="form-control"></select>
                                            @Html.ValidationMessageFor(m => m.Screentime, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="form-group">
                                            <label asp-for="TotalRevenue"></label>
                                            <textarea asp-for="TotalRevenue" class="form-control"></textarea>
                                            <span asp-validation-for="TotalRevenue" class="text-danger"></span>
                                        </div>
                                        
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Xử lý sự kiện khi trường nhập ngày thay đổi giá trị
            $('#ShowtimeDate').change(function () {
                // Lấy giá trị ngày được chọn
                var selectedDate = $(this).val();

                // Gửi yêu cầu AJAX để cập nhật ngày được chọn trên máy chủ
                $.ajax({
                    url: '/Admin/UpdateSelectedDate',
                    type: 'POST',
                    data: { selectedDate: selectedDate },
                    success: function (response) {
                        // Xử lý phản hồi từ máy chủ nếu cần
                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi nếu có
                    }
                });
            });
        });
    </script>
    <script src="~/Admin/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/js/sidebarmenu.js"></script>
    <script src="~/Admin/js/app.min.js"></script>
    <script src="~/Admin/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/Admin/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/Admin/js/dashboard.js"></script>
</body>
</html>