<!DOCTYPE html>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="frame-src 'self' https://www.youtube.com https://www.youtube-nocookie.com;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">

    <!-- ===== Meta Tags - Description for Search Engine purposes ===== -->
    <meta name="description" content="Movify - Movies, Series & Cinema HTML Template">
    <meta name="keywords" content="movies, series, online streaming, html template, cinema html template">
    <meta name="author" content="GnoDesign">

    <!-- Image Logo-->
    <link rel="shortcut icon" href="~/images/logo-2-no words.png" type="image/x-icon">
    <link rel="icon" sizes="192x192" href="~/images/logo-2-no words.png">
    <link rel="icon" sizes="128x128" href="~/images/logo-2-no words.png">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Css-2 Styles -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/revolution/css/settings.css" rel="stylesheet" />
    <link href="~/assets/revolution/css/layers.css" rel="stylesheet" />
    <link href="~/assets/revolution/css/navigation.css" rel="stylesheet" />
    <link href="~/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.mmenu.css" rel="stylesheet" />
    <link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />

    @* <link rel="stylesheet" href="~/css/booking.css" type="text/css"/> *@
</head>

<body>

    <!-- =============== START OF RESPONSIVE - MAIN NAV =============== -->
    <nav id="main-mobile-nav"></nav>
    <!-- =============== END OF RESPONSIVE - MAIN NAV =============== -->
    <!-- Header Section Begin -->
    <!-- Insert the class "sticky" in the header if you want a sticky header -->
    <header class="header header-fixed header-transparent">
        <div class="container-fluid">

            <nav class="navbar navbar-expand-lg">

                <a class="navbar-brand" href="/">
                    <!-- INSERT YOUR WHITE LOGO HERE -->
                    <img src="~/images/logo-no-bg.png" alt="white logo" width="150" class="logo-white" />
                </a>

                <button id="mobile-nav-toggler" class="hamburger hamburger--collapse" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>

                <div class="navbar-collapse" id="main-nav">

                    <!-- ====== Start of Main Menu ====== -->
                    <ul class="navbar-nav mx-auto" id="main-menu" style="font-size: 30px;  color: aliceblue; font-weight: bold;">
                        <!-- Menu Item -->
                        <li class="nav-item">
                            <a class="nav-link" href="~/Customer/ShowTimes" >LỊCH CHIẾU</a>
                        </li>

                        <!-- Menu Item -->
                        <li class="nav-item">
                            <a class="nav-link" href="~/Customer/Movie">PHIM</a>
                        </li>

                        <!-- Menu Item -->
                        <li class="nav-item">
                            <a class="nav-link" href="~/Customer/FAQs">FAQs</a>
                        </li>

                        <!-- Menu Item -->
                        <li class="nav-item">
                            <a class="nav-link" href="~/Customer/Contact">lIÊN hỆ</a>
                        </li>

                        <!-- Menu Item -->
                        <li class="nav-item">
                            <a class="nav-link" href="~/Customer/Uudai">Ưu Đãi</a>
                        </li>

                    </ul>
                    <!-- ====== End of Main Menu ====== -->
                    <!-- ====== Start of Extra Nav ====== -->
                    <ul class="navbar-nav extra-nav" style="font-size: 30px;  color: aliceblue; font-weight: bold;">
                        <!-- Menu Item -->
                        <li class="nav-item m-auto">
                            <a <partial name="_LoginPartial" > </a>
                        </li>
                    </ul>
                    <!-- ====== End of Extra Nav ====== -->

                </div>
                <!-- ====== End of #main-nav ====== -->
            </nav>
            <!-- ====== End of Navbar ====== -->
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>

    <!-- Header End -->
    <!-- =============== START OF SLIDER REVOLUTION SECTION =============== -->

        <!-- ===== END OF REV SLIDER WRAPPER ===== -->

    <div style="margin-bottom: 200px; padding-top: 250px;">
        @RenderBody()
        </div>

        <footer class="footer1 bg-dark">

            <!-- ===== START OF FOOTER WIDGET AREA ===== -->
            <div class="footer-widget-area ptb100">
                <div class="container">
                    <div class="row">

                        <!-- Start of Widget 1 -->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <!-- INSERT YOUR LOGO HERE -->
                            <img src="~/images/logo-no-bg.png" />
                        </div>
                        <!-- End of Widget 1 -->
                        <!-- Start of Widget 2 -->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget widget-links">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="widget-title">SĐT</h3>
                                    </div>
                                </div>
                                <ul class="general-listing">
                                    <li><a> 0901234567</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End of Widget 2 -->
                        <!-- Start of Widget 3 -->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget widget-blog">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="widget-title">ĐỊA CHỈ</h3>
                                    </div>
                                </div>
                                <ul class="blog-posts">
                                    <li><a>Phân khu đào tạo E1, Khu Công Nghệ cao TP.HCM, Phường Hiệp Phú, TP. Thủ Đức, TP.HCM</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End of Widget 3 -->
                        <!-- Start of Widget 4 -->
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget widget-social">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="widget-title">THEO DÕI CHÚNG TÔI</h3>
                                    </div>
                                </div>

                                <!-- Start of Social Buttons -->
                                <ul class="social-btns">
                                    <!-- Social Media -->
                                    <li>
                                        <a href="https://www.facebook.com/chau.kienluong.5" class="social-btn-roll facebook">
                                            <div class="social-btn-roll-icons">
                                                <i class="social-btn-roll-icon fa fa-facebook"></i>
                                                <i class="social-btn-roll-icon fa fa-facebook"></i>
                                            </div>
                                        </a>
                                    </li>

                                    <!-- Social Media -->
                                    <li>
                                    <a href="https://www.youtube.com/channel/UCucxsZEPBQ48THLJtPkJ52g" class="social-btn-roll youtube">
                                        <div class="social-btn-roll-icons">
                                            <i class="social-btn-roll-icon fa fa-youtube"></i>
                                            <i class="social-btn-roll-icon fa fa-youtube"></i>
                                        </div>
                                    </a>

                                    </li>

                                </ul>
                                <!-- End of Social Buttons -->
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FitHutech&tabs=timeline&width=400&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
                            width="400" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

                            </div>
                        </div>
                        <!-- End of Widget 4 -->

                    </div>
                </div>
            </div>
            <!-- ===== END OF FOOTER WIDGET AREA ===== -->
            <!-- ===== START OF FOOTER COPYRIGHT AREA ===== -->
            <div class="footer-copyright-area ptb30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex">
                                <div class="links">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="#">Privacy & Cookies</a></li>
                                        <li class="list-inline-item"><a href="#">Terms & Conditions</a></li>
                                        <li class="list-inline-item"><a href="#">Legal Disclaimer</a></li>
                                        <li class="list-inline-item"><a href="#">Community</a></li>
                                    </ul>
                                </div>

                                <div class="copyright ml-auto">All Rights Reserved by <a href="#">BTalk</a>.</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ===== END OF FOOTER COPYRIGHT AREA ===== -->
        <!-- ===== Start of Back to Top Button ===== -->
        <div id="backtotop">
            <a href="#"></a>
        </div>
        <!-- ===== End of Back to Top Button ===== -->
        </footer>
        <!-- =============== END OF FOOTER =============== -->
        <!-- Footer Section End -->
        <!-- Js Plugins -->

</body>


</html>